<!DOCTYPE html>
<html lang="">
<head>
    <title>secret-date-hub.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
    <meta name="robots" content="noindex, nofollow, noarchive">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <script src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/backbone-min.js" type="text/javascript" id="backbonejs"></script>
    <script type="text/javascript">
        lander = {};
        getURLParameter = function(name) {
            return decodeURI(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [ null])[1] || '');
        };
        var a = getURLParameter('config') || 'config';
    </script>
    <script src="js/german-checkboxlp15.js" type="text/javascript"></script>
    <script src="js/views-checkboxlp.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/lp4.css" media="all">
    <script type="text/javascript">
        $(document).ready(function() {
            $('.ok').click(function() {
                $('#bg_overlay').css('background-image', 'url(images/background-32.jpg)');
            });
        });
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N96WLM9');</script>
    <!-- End Google Tag Manager -->

</head>
<body class="btone">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N96WLM9"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="bg_overlay"></div>
<div id="intros">
    <div style="opacity: 1; display: block;" id="alert1" class="popup_alert alert_type">
        <div class="top"></div> <span class="copy_area">
Aten&#231;&#227;o! Voc&#234; ver&#225; fotos de mulheres nuas. Por favor, seja discreto.
<h5 class="text">Quer ver seus perfis?</h5>
</span> <a class="ok navbtn">Sim</a> </div>
    <div id="scanner" class="scanner_wrap">
        <h3>Procurando por parceiros adequados ...</h3>
        <div id="progressbar">
            <div class="progress-label"></div>
        </div>
    </div>
</div>
<div id="questions">
    <div id="prompt1" class="box prompt">
        <div class="top"><span class="h1">Este <b>N&#195;O</b> &#233; um site de namoro! </span></div>
        <div class="box_copy"> Antes de podermos mostrar a voc&#234; uma lista e as fotos de mulheres que est&#227;o prontas para o <u><b>contato sexual agora</b></u>, precisamos fazer algumas perguntas r&#225;pidas. </div>
        <p><img src="images/top-girls-11.jpg" alt="picture 1"></p>
        <div class="btn_wrap"> <a class="agree navbtn">Ok</a> </div>
    </div>
    <div id="dialog1" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"> Quest&#227;o </span> <span class="circle1">1</span> <span class="circle2">2</span> <span class="circle2">3</span> <span class="circle2">4</span> </div>
        <div class="box_copy">
            <p><img src="images/top-girls-12.jpg" alt="picture 2"></p>
            <br> Muitas dessas mulheres s&#227;o solteiras, mas tamb&#233;m podem ser casadas que querem se divertir. Voc&#234; concorda em manter em segredo a identidade dessas mulheres? </div>
        <div class="btn_wrap"> <a class="btnyes navbtn">Sim</a> <a class="btnno navbtn">N&#227;o</a> </div>
    </div>
    <div id="dialog2" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"> Quest&#227;o </span> <span class="circle2">1</span> <span class="circle1">2</span> <span class="circle2">3</span> <span class="circle2">4</span> </div>
        <div class="box_copy">
            <p><img src="images/top-girls-13.jpg" alt="picture 3"></p>
            <br> Essas mulheres n&#227;o est&#227;o procurando um relacionamento, elas s&#243; querem uma experi&#234;ncia tes&#227;o, sem namoro. Voc&#234; concorda com estas condi&#231;&#245;es? </div>
        <div class="btn_wrap"> <a class="btnyes navbtn">Sim</a> <a class="btnno navbtn">N&#227;o</a> </div>
    </div>
    <div id="dialog3" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"> Quest&#227;o </span> <span class="circle2">1</span> <span class="circle2">2</span> <span class="circle1">3</span> <span class="circle2">4</span> </div>
        <div class="box_copy">
            <p><img src="images/top-girls-15.jpg" alt="picture 4"></p>
            <br> Voc&#234; j&#225; teve experi&#234;ncia com mulheres mais velhas? </div>
        <div class="btn_wrap"> <a class="btnyes navbtn">Sim</a> <a class="btnno navbtn">N&#227;o</a> </div>
    </div>
    <div id="dialog4" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"> Quest&#227;o </span> <span class="circle2">1</span> <span class="circle2">2</span> <span class="circle2">3</span> <span class="circle1">4</span> </div>
        <div class="box_copy"> Por fim, quantos anos voc&#234; tem? </div>
        <div class="btn_wrap"> <a class="btnyes navbtn" onclick="AgeFunction(18)">18-29</a> <a class="btnno navbtn" onclick="AgeFunction(25)">30+</a> </div>
    </div>
    <div id="option1" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"><b>Que tipo de corpo voc&#234; acha excitante? </b></span> </div>
        <div class="box2"> <span class="style1">(Escolha at&#233; 3 respostas)</span>
            <div class="option_row">
                <input id="skinny" for="skinny" type="checkbox">
                <div class="checkbox_icon" for="skinny">
                    <div class="checkbox_state"></div>
                </div>
                <label for="skinny"> <span class="checkbox_label">Magra</span></label>
            </div>
            <div class="option_row">
                <input id="Regular" for="Regular" type="checkbox">
                <div class="checkbox_icon" for="Regular">
                    <div class="checkbox_state"></div>
                </div>
                <label for="Regular"> <span class="checkbox_label">Normal </span></label>
            </div>
            <div class="option_row">
                <input id="BBW" for="BBW" type="checkbox">
                <div class="checkbox_icon" for="BBW">
                    <div class="checkbox_state"></div>
                </div>
                <label for="BBW"> <span class="checkbox_label">Curvas generosas </span></label>
            </div>
            <div class="option_row">
                <input id="big" for="big" type="checkbox">
                <div class="checkbox_icon" for="big">
                    <div class="checkbox_state"></div>
                </div>
                <label for="big"> <span class="checkbox_label">Seios grandes </span></label>
            </div>
            <div class="option_row">
                <input id="sexy" for="sexy" type="checkbox">
                <div class="checkbox_icon" for="sexy">
                    <div class="checkbox_state"></div>
                </div>
                <label for="sexy"> <span class="checkbox_label">Bunda gostosa </span></label>
            </div>
        </div>
        <div class="btn_wrap"> <a class="next navbtn">Seguinte &#187;</a> </div>
    </div>
    <div id="option2" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"><b>Voc&#234; prefere mulheres de que faixa et&#225;ria? </b></span> </div>
        <div class="box2"> <span class="style1">(Escolha at&#233; 3 respostas)</span>
            <div class="option_row">
                <input id="21" for="21" type="checkbox">
                <div class="checkbox_icon" for="21">
                    <div class="checkbox_state"></div>
                </div>
                <label for="21"> <span class="checkbox_label">21 - 25</span></label>
            </div>
            <div class="option_row">
                <input id="25" for="25" type="checkbox">
                <div class="checkbox_icon" for="25">
                    <div class="checkbox_state"></div>
                </div>
                <label for="25"> <span class="checkbox_label">25 - 32</span></label>
            </div>
            <div class="option_row">
                <input id="32" for="32" type="checkbox">
                <div class="checkbox_icon" for="32">
                    <div class="checkbox_state"></div>
                </div>
                <label for="32"> <span class="checkbox_label">32 - 37</span></label>
            </div>
            <div class="option_row">
                <input id="37" for="37" type="checkbox">
                <div class="checkbox_icon" for="37">
                    <div class="checkbox_state"></div>
                </div>
                <label for="37"> <span class="checkbox_label">37 - 45</span></label>
            </div>
            <div class="option_row">
                <input id="45" for="45" type="checkbox">
                <div class="checkbox_icon" for="45">
                    <div class="checkbox_state"></div>
                </div>
                <label for="45"> <span class="checkbox_label">45+</span></label>
            </div>
        </div>
        <div class="btn_wrap"> <a class="next navbtn">Seguinte &#187;</a> </div>
    </div>
    <div id="option3" class="box toggleDiv dialog">
        <div class="top"> <span class="step_label"><b>Posi&#231;&#227;o favorita? </b></span> </div>
        <div class="box2"> <span class="style1">(Escolha at&#233; 3 respostas)</span>
            <div class="option_row">
                <input id="same" for="same" type="checkbox">
                <div class="checkbox_icon" for="same">
                    <div class="checkbox_state"></div>
                </div>
                <label for="same"> <span class="checkbox_label">Cara a cara </span></label>
            </div>
            <div class="option_row">
                <input id="near" for="near" type="checkbox">
                <div class="checkbox_icon" for="near">
                    <div class="checkbox_state"></div>
                </div>
                <label for="near"> <span class="checkbox_label">De quatro </span></label>
            </div>
            <div class="option_row">
                <input id="country" for="country" type="checkbox">
                <div class="checkbox_icon" for="country">
                    <div class="checkbox_state"></div>
                </div>
                <label for="country"> <span class="checkbox_label">69 </span></label>
            </div>
            <div class="option_row">
                <input id="nomatter" for="nomatter" type="checkbox">
                <div class="checkbox_icon" for="nomatter">
                    <div class="checkbox_state"></div>
                </div>
                <label for="nomatter"> <span class="checkbox_label">Ela em cima </span></label>
            </div>
        </div>
        <div class="btn_wrap"> <a class="next navbtn">Seguinte &#187;</a> </div>
    </div>
    <div id="agree" class="box prompt">
        <div class="top"><span class="h1">Obrigado!</span></div>
        <div class="box_copy">
            <p><img src="images/top-girls-11.jpg" alt="picture 5"></p>
            <br> Agora voc&#234; pode consultar nossa lista e as fotos de mulheres que est&#227;o online agora. Novamente pedimos que mantenha em segredo a identidade delas.
            <br>
            <br>Clique em "Continuar" para acessar a p&#225;gina de cadastro. </div>
        <div class="btn_wrap"> <a href="https://eclucasvilivers.com/click" class="agree navbtn">Continuar &#187;</a> </div>
    </div>
</div>
<script type="text/template" id="alert_template">
    <% if(settings.alert_type == 'default') { %>
    <div class="popup_alert alert_type">
        <div class="top"></div>
        <div class="alert_icon"></div> <span class="copy_area">
            <h5><%= title %></h5>
            <h5 class="text"><%= description %></h5>
        </span> <span class="btn_area" style="">
        <% _.each(settings.buttons, function(item){ %>
            <button class="<%= item.data %> navbtn"><span> <%= item.title %> </span></button>
                <% }); %>
                    </span>
    </div>
    <% } else if(settings.alert_type == 'modal') { %>
    <div style="" class="modal-wrapper alert_type">
        <div id="modal-overlay" style=""></div>
        <div id="modal-5" class="modal-dialog" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span><%= header_text %></span></h4></div>
                <div class="modal-body"> <b><%= title %></b>
                    <br>
                    <%= description %>
                </div>
                <div class="modal-footer">
                    <% _.each(settings.buttons, function(item){ %>
                    <button class="btn btn-<%= item.data %> navbtn">
                        <%= item.title %>
                    </button>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <% } else if(settings.alert_type == 'browser') { %>
    <div class="alert_type"></div>
    <% } %>
</script>
<script type="text/template" id="prompt_template">
    <div class="box <%= settings.type %>">
        <div class="top"><span class="h1"><%= title %></span></div>
        <div class="box_copy">
            <%= description %>
        </div>
        <div class="btn_wrap">
            <% _.each(settings.buttons, function(item){ %>
            <a class="<%= item.data %> navbtn">
                <%= item.title %>
            </a>
            <% }); %>
        </div>
    </div>
</script>
<script type="text/template" id="scanner_template">
    <div class="scanner_wrap">
        <h3><%= title %></h3>
        <div>
            <div class="progress-label"></div>
        </div>
    </div>
</script>
<script type="text/template" id="dialog_template">
    <% var item_index = step_number, group_items = _.filter(this.model.collection.models, function(arr){ return arr.attributes.settings.group == 'term_box'}) %>
    <% var item_index = step_number, item_title = title == '' ? '' : title+'<br>' %>
    <div class="box toggleDiv <%= settings.type %>">
        <div class="top"> <span class="step_label"> <%= step_label %> </span>
            <%_.each(group_items, function(item, circ_i){ %>
            <% if(item_index-1 == circ_i) %> <span class="circle1"><%= circ_i+1 %></span>
            <% else %> <span class="circle2"><%= circ_i+1 %></span>
            <% }); %>
        </div>
        <div class="box_copy">
            <%= item_title %>
            <%= description %>
        </div>
        <div class="btn_wrap">
            <% _.each(settings.buttons, function(item){ %>
            <a class="<%= item.data %> navbtn">
                <%= item.title %>
            </a>
            <% }); %>
        </div>
    </div>
</script>
<script type="text/template" id="options_template">
    <div id="<%= settings.id %>" class="box toggleDiv <%= settings.type %>">
        <div class="top">
            <%= title %>
        </div>
        <div class="box2"> <span class="style1"><%= description %></span>
            <div class="styleq2">
                <% _.each(options, function(item){ %>
                <div class="option_row">
                    <input id="<%= item.data %>" for="<%= item.data %>" type="checkbox">
                    <label for="<%= item.data %>">
                        <%= item.title %>
                    </label>
                </div>
                <% }); %>
            </div>
        </div>
        <div class="btn_wrap">
            <% _.each(settings.buttons, function(item){ %>
            <a class="<%= item.data %> navbtn">
                <%= item.title %>
            </a>
            <% }); %>
        </div>
    </div>
</script>
</body>
</html>