*{
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
html {
    height: 100%;
    font-size: 62.5%;
}
body {
    background: #000;
    color: #fff;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.2;
    font-size: 1.4rem;
    font-weight: 400;
    overflow-x: hidden;
}
/* common */
.wrapper {
    max-width: 975px;
    margin: 0 auto;
    padding: 30px 10px;
}
.preload span {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000 no-repeat center top;
    z-index: -1;
    transition: all 0.5s linear;
    opacity: 0;
}
.preload span.active {
    opacity: 1;
}

/* steps */
.step {
    display: none;
}
.step:first-child {
    display: block
}
.slogan {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.slogan span {
    color: #0EF;
}
.add_slogan {
    font-size: 2.2rem;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 10px;
}
.add_slogan span {
    color: #0dba00;
}
.text_block {
    font-size: 1.6rem;
    color: #FFF;
    margin: 10px 0;
}
.text_block.orange {
    color: #FFB930;
    font-size:2rem;
}
.text_block.blue {
    color: #14E0DC;
    font-size:2rem;
    text-transform: uppercase;
}
.question_block {
    margin-top: 20px;
    font-size: 0;
}
.question {
    font-size: 4rem;
    font-weight: 900;
    color: #FFF;
    margin: 10px 0;
}
.question_list {
    padding-left: 2rem;
    font-size: 1.8rem;
    list-style-type: disc;
    margin-bottom: 3rem
}
.pagination {
    margin-bottom: 2rem;
}
.pagination_item {
    display: inline-block;
    height: 5.2rem;
    width: 5.2rem;
    margin: 0 3rem;
    background-color: #330000;
    color: #592f2f;
    border: 3px solid #592f2f;
    border-radius: 50%;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 4.6rem;
    text-align: center;
    box-sizing: border-box;
}
.pagination_item.active {
    background-color: #0ef;
    color: #333;
    border-color: #fff;
}
/* buttons */
.img_btn {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 10px;
    border-radius: 50%;
    text-decoration: none;
    width: 25%;
    box-sizing: border-box;
}
.img_btn img {
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}
.img_btn img:hover {
    border: 5px solid #f00;
}
.img_btn span {
    color: #fff;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    display: block;
}
.next_btn {
    height: 8rem;
    width: 24rem;
    color: #fff;
    background: #00a2ff;
    text-align: center;
    line-height: 8rem;
    padding: 0 10px;
    border-radius: 1rem;
    text-decoration: none;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 10px;
    box-sizing: border-box;
}
.next_btn:hover {
    color: #23527c;
    text-decoration: underline;
}
@media (max-width: 570px) {
    html {
        font-size: 50%;
    }
    .img_btn {
        width: 50%;
    }
    .pagination_item {
        margin: 0 2rem;
    }
}
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*main*/
a {
    text-decoration: none;
    cursor: pointer !important;
}
ul li {
    list-style: none;
}
html {
    font-size: 50%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.8rem;
    min-width: 320px;
    line-height: 1.4;
    color: #000;
    background: #fff;
    height: 100%;
}
:focus {
    outline: 0;
}
/* STEPS */
.step-box {
    height: 100%;
    background: url("https://mainstreamlp.s3-eu-west-1.amazonaws.com/matilde/Miguel/535/bg_main_new2.jpg") center center no-repeat;
    background-size: cover;
}
#step2, #step3, #step4, #step5, #step6, #step7, #step8, #step9{
    padding-top: 140px;
}

#step1{
    background-color: white;
    width: 100%;
    padding: 12px;
}
.step {
    margin: auto;
    max-width: 900px;
    width: 90%;
    position: relative;
    text-align: center;
}
.step p {
    margin-bottom: 30px;
}
.step .slogan {
    color: #f94d41;
    font-size: 2.0rem;
    font-weight: 700;
    text-transform: uppercase;
}
.step .timer {
    font-weight: 700;
}
.step .logo {
    width: 35%;;
    max-width: 400px;
    display: block;
    margin: 0 auto 3rem;
    -webkit-animation: pulse 0.15s 3;
    animation: pulse 0.15s 3;
}
.step.visible {
    display: block;
}
.step-title {
    font-size: 17px;
    font-weight: 700;
    -webkit-animation: headShake 1s;
    animation: headShake 1s;
    margin-bottom: 40px;
}
.step-content {
    -webkit-animation: bounceInDown 0.5s;
    animation: bounceInDown 0.5s;
}
.options {
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    /*-ms-flex-flow: row wrap;*/
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 700px;
}
.option {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    /*display: -webkit-inline-box;*/
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
}
.option:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: all 0.3s ease-out;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
.option.active:before {
    width: 100%;
    height: 100%;
}
.options .option.item1 {
    background-color: #fd8c4a;
    -webkit-animation: rollIn 0.5s ease-out 0.5s forwards;
    animation: rollIn 0.5s ease-out 0.5s forwards;
}
.options .option.item2 {
    background-color: #fbd630;
    -webkit-animation: bounceInDown 0.5s ease-out 0.5s forwards;
    animation: bounceInDown 0.5s ease-out 0.5s forwards;
}
.options .option.item3 {
    background-color: #37c991;
    -webkit-animation: lightSpeedIn 0.5s ease-out forwards;
    animation: lightSpeedIn 0.5s ease-out forwards;
}
.options .option.item4 {
    background-color: #51dfd9;
    -webkit-animation: rollIn 0.5s ease-out forwards;
    animation: rollIn 0.5s ease-out forwards;
}
.options .option.item5 {
    background-color: #466eb0;
    opacity: 1;
    -webkit-animation: pulse 0.15s 5;
    animation: pulse 0.15s 5;
}
.options .option.item6 {
    background-color: #717ec1;
    opacity: 1;
    -webkit-animation: bounceInRight 1s;
    animation: bounceInRight 1s;
}
.options .option.item7 {
    background-color: #f94d41;
    opacity: 1;
    -webkit-animation: bounceInLeft 1s;
    animation: bounceInLeft 1s;
}
.options .option.item8 {
    background-color: #fd8c4a;
    opacity: 1;
    -webkit-animation: flipInX 1s;
    animation: flipInX 1s;
}
.options .option.item9 {
    background-color: #fbd630;
    opacity: 1;
    -webkit-animation: bounceInRight 0.5s forwards;
    animation: bounceInRight 0.5s forwards;
}
.option span{
    width: 100%;
    display: inline-block;
}
.girls .option {
    width: 22rem;
    height: 22rem;
}
.girls .girl {
    border-radius: 50%;
    background: url("https://mainstreamlp.s3-eu-west-1.amazonaws.com/matilde/Miguel/535/girls.png") -1.1rem -2.3rem no-repeat;
    background-clip: border-box;
    background-size: 80rem 73rem;
    display: block;
    height: 100%;
}
.girls .girl2 {
    background-position: -30rem -2.3rem;
}
.girls .girl3 {
    background-position: -59rem -2.3rem;
}
.girls .girl4 {
    background-position: -1.1rem -27rem;
}
.girls .girl5 {
    background-position: -30rem -27rem;
}
.girls .girl6 {
    background-position: -59rem -27rem;
}
.girls .girl7 {
    background-position: -1.1rem -52rem;
}
.girls .girl8 {
    background-position: -30rem -52rem;
}
.girls .girl9 {
    background-position: -59rem -52rem;
}
.btn-block {
    margin: 3rem auto 0;
}
.btn {
    display: inline-block;
    border-radius: 50%;
    padding: 2rem;
    -webkit-animation: pulse 0.15s 5;
    animation: pulse 0.15s 5;
}
.btn-go {
    display: inline-block;
    width: 18rem;
    height: 18rem;
    line-height: 16rem;
    border-radius: 50%;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #69d0d9;
    font-size: 2.8rem;
    font-weight: 700;
    -webkit-box-shadow: 0 0 0 1rem #fff, 0 0 0 2rem #69d0d9;
    box-shadow: 0 0 0 1rem #fff, 0 0 0 2rem #69d0d9;
    color: #fff;
    position: relative;
}
.btn-go:before {
    content: '';
    position: absolute;
    display: block;
    top: 61%;
    left: 42%;
    width: 5rem;
    height: 5rem;
    background: url("https://mainstreamlp.s3-eu-west-1.amazonaws.com/matilde/Miguel/535/penis.png") center center no-repeat;
    background-size: contain;
    animation: penis 1.5s ease-out infinite;
    -webkit-animation: penis 1.5s linear infinite;
}
.btn-next {
    color: #000;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: 700;
}
@media (max-width:600px) {
    html {
        font-size: 35%;
    }
    p {
        font-size: 2.3rem;
    }
    .btn-next {
        font-size: 4rem;
    }
    .step .logo {
        width: 60%;
    }
}
@-webkit-keyframes penis {
    0%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-40%);
    }
    70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}
@keyframes penis {
    0%{
        -webkit-transform: translateX(-100%);
        transform: translateX(-40%);
    }
    70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}
@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@-webkit-keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes headShake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@media only screen and (max-width: 450px){
    #press43, #press44, #press45, #press42, #press41{
        display: none!important;
    }
    .options {
        margin: 0 auto!important;
    }
    .step .logo {
        width: 60%;

    }
    .btn-block {
        margin: 0 auto 0!important;
    }


    .btn-go {
        width: 20rem;
        height: 18rem;
        margin: 0 auto!important;
        font-size: 10PX!important;
    }
    .girls .option {
        width: 20rem!important;
        height: 20rem!important;
    }
}
